{{ define "main" }}
<div class="m-6">
    <article class="prose">
        <header>
            <h1 class="">
                {{ .Title }}
            </h1>
        </header>
        <div class="">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}