<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en" }}'>
{{- partial "head.html" . -}}

<body class="antialiased font-body">
    {{- partial "header.html" . -}}
    {{- block "header" . }}{{- end }}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    {{- partial "dev-size-indicator.html" . -}}
    {{- partial "dev-parameters.html" . -}}
    <script src="/js/menu.js"></script>
</body>

</html>