@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/bebas-neue/BebasNeue-Regular.woff2) format("woff2"),
      url(/fonts/bebas-neue/BebasNeue-Regular.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Roboto/roboto-v20-latin-regular.woff2) format("woff2"),
      url(/fonts/Roboto/roboto-v20-latin-regular.woff) format("woff");
    font-display: swap;
  }
}

.btn {
  @apply inline-block font-display rounded-md shadow-lg cursor-pointer bg-primaryDark text-gray-100 px-4 py-2 text-xl tracking-wide;
}

.btn:hover {
  @apply bg-primary;
}

.btn-big {
  @apply text-2xl tracking-wider px-6 py-3;
}
