<address>
    <!-- Address -->
    {{ with $.Site.Params.contact.address }}
    <p>
        <svg class="h-4 w-4 inline-block fill-current text-secondary" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd" />
        </svg>
        <span>{{- $.Site.Title -}}</span>
        <span><i class="fas fa-map-marker-alt"></i></span>
        {{ . }}
    </p>
    {{ end }}

    <div class="space-x-6">
        <!-- Phone -->
        {{ with $.Site.Params.contact.phone }}
        <a class="hover:text-secondaryDark" href='tel:{{- . -}}'>
            <svg class="h-4 w-4 inline-block fill-current text-secondary hover:text-secondaryDark"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M7 2a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V4a2 2 0 00-2-2H7zm3 14a1 1 0 100-2 1 1 0 000 2z"
                    clip-rule="evenodd" />
            </svg>
            <span>{{- . -}}</span>
        </a>
        {{ end }}

        <!-- Email -->
        {{ with $.Site.Params.contact.email }}
        <a class="hover:text-secondaryDark" href='mailto:{{- . -}}'>
            <svg class="h-4 w-4 inline-block fill-current text-secondary hover:text-secondaryDark"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
            </svg>
            <span>Email</span>
        </a>
        {{ end }}
    </div>
</address>