<div class="text-xs px-2 py-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo possimus assumenda nam nesciunt
        necessitatibus, quam vel, tempora impedit cupiditate praesentium alias ea doloremque cumque sunt numquam,
        quibusdam
        quae
        harum iste!
    </p>
</div>