<header>
    <nav class="flex items-center justify-between flex-wrap bg-primary p-6">
        <a class="flex items-center flex-shrink-0 text-white mr-6" href="/">
            <svg class="fill-current h-10 w-10 mr-2" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M432 176c0-13.408-1.44-26.464-4.256-38.752-.064-.32-.16-.64-.256-.96L399.584 12.48C397.984 5.184 391.456 0 384 0H128c-7.488 0-13.984 5.184-15.616 12.48L84.512 136.224c-.096.32-.192.672-.256 1.024C81.408 149.536 80 162.592 80 176c0 91.648 70.432 167.072 160 175.2V480h-64c-8.832 0-16 7.168-16 16s7.168 16 16 16h160c8.832 0 16-7.168 16-16s-7.168-16-16-16h-64V351.2c89.568-8.128 160-83.552 160-175.2zm-318.304-16c.544-4.928.512-10.08 1.536-14.72.096-.352.192-.704.288-1.088L140.8 32h230.432l25.28 112.192c.064.32.16.672.256.992 1.024 4.704.992 9.888 1.536 14.816H113.696z" />
            </svg>
            <div>
                <h1 class="font-display text-5xl tracking-tight">{{ .Site.Title }}</h1>
                {{ with .Site.Params.Description }}
                <h2 class="font-display -mt-6">{{ . }}</h2>
                {{ end }}
            </div>
        </a>
        {{ if .Site.Menus.main }}
        <div class="block md:hidden">
            <button id="menu-button"
                class="flex items-center px-3 py-2 border rounded text-primaryLight border-primaryLight hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        {{ end }}
        <div id="menu-list" class="w-full hidden flex-grow md:flex md:items-center md:w-auto">
            <div class="text-sm md:flex-grow">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" title="{{ .Name }} page"
                    class="block mt-4 md:inline-block md:mt-0 text-primaryLight hover:text-white mr-4">{{ .Name }}</a>
                {{ end }}

            </div>
        </div>
        {{ if .Param "social" }}
        <div class="flex md:justify-center">
            {{ partial "header-social.html" . }}
        </div>
        {{ end }}
    </nav>
</header>