<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{- if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end -}}
    {{- if .Keywords }}
    <meta name="keywords" content='{{ delimit .Keywords "," }}' />
    {{ end -}}
    {{- if .Params.Author }}
    <meta name="author" content="{{ .Params.Author}}" />
    {{ end -}}
    {{ hugo.Generator }}

    <meta name="description" content="{{ .Description }}">
    {{/* styles */}}
    {{ $styles := resources.Get "css/styles.css" }}
    {{ $styles = $styles | resources.PostCSS }}
    {{ if  hugo.IsProduction  }}
    {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
    {{ end }}
    <link rel="preload" href="/fonts/Roboto/roboto-v20-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/bebas-neue/BebasNeue-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link href="{{ $styles.RelPermalink }}" rel="stylesheet" />
</head>