{{ define "header" }}
{{ with .Param "featured_image" }}
{{- $i := resources.Get . -}}
<img srcset='{{($i.Resize "768x").RelPermalink}} 768w, {{($i.Resize "1440x").RelPermalink}} 1440w' sizes="100vw"
    src="{{$i.RelPermalink}}">
{{ end }}
<section class="py-8 px-5 lg:px-10">
    <div class="md:max-w-md lg:max-w-xl xl:max-w-4xl mx-auto text-center">
        <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl lg:max-w-none">
            <h1>{{ .Site.Title }}</h1>
            <article>{{ .Content }}</article>
        </div>
        {{ with .Param "featured" }}
        <div class="mt-8">
            <a class="btn hover:btn:hover btn-big" href="{{ .Url }}">{{ .Name }} </a>
        </div>
        {{ end }}
        {{ with .Site.GetPage "/homepage" }}
        <ul class="flex justify-center space-x-4 mt-6 list-none">
            {{ range where (.Resources.ByType "page") ".Params.header_menu" true }}
            <li>
                <a class="btn" href="#{{ anchorize .Title }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</section>
{{ end }}

{{ define "main" }}
{{ with .Site.GetPage "/homepage" }}
{{ range $i, $e := .Resources.ByType "page" }}
{{ $isDark := modBool $i 2 }}
<section id="{{ anchorize .Title }}" class="{{if $isDark}}bg-primary{{end}} py-8 px-5 lg:px-10">
    <div class="md:max-w-md lg:max-w-xl xl:max-w-4xl mx-auto">
        <div
            class="prose {{if $isDark}}prose-light sm:prose-light lg:prose-lg-light xl:prose-xl-light{{end}} prose-sm sm:prose lg:prose-lg xl:prose-xl">
            <h1>{{ .Title }}</h1>
            <article>{{ .Content }}</article>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}