{{ .Scratch.Set "labelClasses" "block uppercase tracking-wide font-bold mb-2" }}
{{ .Scratch.Set "inputClasses" "appearance-none block w-full bg-gray-200 text-gray-900 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" }}
{{ if .Get "action" }}
<form action="{{ .Get `action` }}" method="POST">
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full lg:w-1/2 px-3 mb-6 lg:mb-0">
            <label class="{{ .Scratch.Get `labelClasses` }}" for="name">{{ i18n "yourName" }}</label>
            <input type="text" id="name" name="name" class="{{ .Scratch.Get `inputClasses` }}" required
                placeholder="{{ i18n `yourName` }}" aria-labelledby="name" />
        </div>
        <div class="w-full lg:w-1/2 px-3">
            <label class="{{ .Scratch.Get `labelClasses` }}" for="email">{{ i18n "emailAddress" }}</label>
            <input type="email" id="email" name="email" class="{{ .Scratch.Get `inputClasses` }}" required
                placeholder="{{ i18n `emailAddress` }}" aria-labelledby="email" />
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="{{ .Scratch.Get `labelClasses` }}" for="message">{{ i18n "message" }}</label>
            <textarea id="message" name="message" class="{{ .Scratch.Get `inputClasses` }} h-64" required
                aria-labelledby="message"></textarea>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <input class="btn btn-small" type="submit" value="{{ i18n `send` }}" />
        </div>
    </div>
</form>
{{ else }}
<p class="">🚧 The shortcode is misused 🚧</p>
<p>One option is to use <a href="//formspree.io">formspree.io</a> as proxy to send the actual email. Each month,
    visitors
    can send you up to one
    thousand emails without incurring extra charges. Visit the Formspree site to get the "action" link and add it to
    your shortcode like this:
</p>
{{end}}